.App-logo {
  /* animation: App-logo-spin infinite 60s linear; */
  transform: rotate(-33deg);
  transition: all 700ms;
  height: 80px;
}
.App-logo:hover {
  /* animation: App-logo-spin infinite 60s linear; */
  transform: rotate(15deg);
}
.logo_container {
  position: relative;
  display: inline-block;
  transform: translate(30px, 30px);
}
.logo_bg {
  position: absolute;
  border-radius: 80px;
  border: 48px white solid;
  transform: translate(-15px, -6px);
}
.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  display: inline-block;
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#dropzone {
  background: #499a4c;
  border-radius: 3px;
  box-shadow: #222 0 0 2px;
  color: white;
  cursor: alias;
  display: grid;
  grid-template-areas: "dropzone";
  grid-template-columns: auto;
  grid-template-rows: auto;
  height: 100px;
  margin: 10px auto;
  position: absolute;
  right: 20px;
  text-align: center;
  top: 30px;
  transition: background 300ms;
  width: 300px;
}
#dropzone:hover {
  background: rgb(79, 128, 85);
}
#dropzone > * {
  align-self: center;
  grid-area: dropzone;
  justify-self: center;
}

#no_files {
  background: rgb(250, 249, 249);
  border-radius: 2px;
  border: lightgray solid 1px;
  margin: 40px auto;
  padding: 20px;
  text-align: center;
  width: 200px;
}

.demo__load-button {
  padding: 10px;
  border-radius: 3px;
  margin: 5px;
  width: 100%;
  background-color: #499a4c;
  color: white;
}

.demo__load-button:hover {
  background: rgb(79, 128, 85);
  cursor: pointer;
  box-shadow: #222 0 0 10px -4px;
}

.small {
  font-size: smaller;
}
